{% extends 'Layout.html' %}

{% block body %}
<div id = 'content'>
        
    <div id = 'DashList'>
        <div>
        <span> Total Personnel </span>
        </div>
        <div>
        <span> Registered </span>
        </div>
        <div>
        <span> Intruders </span>
        </div>
    </div>

    <table id = 'dashtable'>
        <thead>
            <th> Name </th>
            <th> Time </th>
            <th> Details </th>
        </thead>

        <tbody>

        </tbody>
    </table>

</div>
{% endblock %}